<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".obj" mimeType="application/obj" />
      <mimeMap fileExtension=".mtl" mimeType="application/mtl" />
      <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
      <mimeMap fileExtension=".babylonmeshdata" mimeType="application/babylonmeshdata"/>
      <mimeMap fileExtension=".dds" mimeType="application/dds" />
      <mimeMap fileExtension=".fbx" mimeType="application/fbx" />

      <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".jsgz" mimeType="application/x-javascript; charset=UTF-8" />
    </staticContent>
  </system.webServer>

</configuration>
