html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    width: 100%;
    height: 100%;
}

#instructions {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;

    cursor: pointer;
}

#instructions span {
    font-size: 40px;
}
