html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Keeps it behind the instructions overlay */
}

#instructions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;         /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
}
