<p>Support me:</p>
<ul>
    <li>Boosty: <a href="https://boosty.to/ivan_8observer8/donate"  target="_blank">https://boosty.to/ivan_8observer8/donate</a> This service supports PayPal and Google Account login</li>
    <li>Sberbank: 4276 5600 1236 3810 (Ivan Enzhaev)</li>
</ul>
