<p>Subscribe to news:</p>
<ul>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/ivan-enzhaev-23871192/" target="_blank">https://www.linkedin.com/in/ivan-enzhaev-23871192/</a></li>
    <li>Twitter: <a href="https://twitter.com/8Observer8" target="_blank">https://twitter.com/8Observer8</a></li>
    <li>GitHub: <a href="https://github.com/8Observer8" target="_blank">https://github.com/8Observer8</a></li>
</ul>